body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
.registration-container {
    background-color: #3C3D37;
    padding: 4rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
}
h2 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-top: 10px;
    font-weight: bold;
}
input, select {
    margin: 5px 0 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
input[type="submit"] {
    background-color: #28a745;
    color: black;
    border: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: #218838;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-row > div {
    flex: 1;
    margin-right: 10px;
}
.form-row > div:last-child {
    margin-right: 0;
}
